// Fuente Google Fonts
$bellefair :'Bellefair',
serif;
$crema: #ebe7de;
body {
    background-color: $crema;
}

@mixin background_image($pagina) {
    background-image: url(../img/destacadas/chico/#{$pagina}.jpg);
    @include breakpoint(medium) {
        background-image: url(../img/destacadas/mediano/#{$pagina}.jpg);
    }
    @include breakpoint(large) {
        background-image: url(../img/destacadas/grande/#{$pagina}.jpg);
    }
}

.site-header {
    .contenedor {
        z-index: 1;
        @include position(relative);
    }
    @include position(relative);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: rem-calc(600);
    &.inicio {
        @include background_image(inicio);
    }
    &.nosotros {
        @include background_image(nosotros);
    }
    .header-superior {
        @include xy-grid();
        @include flex-align(center, top);
        @include breakpoint(medium) {
            @include flex-align(justify, top);
        }
        @include padding(2);
        .logo {
            @include xy-cell(6);
            @include breakpoint(medium) {
                @include xy-cell(40%);
            }
        }
    }
    .header-slogan {
        @include xy-grid();
        @include flex-align(center, middle);
        height: rem-calc(300);
        .slogan {
            color: $white;
            @include font-bold(900);
            @include text-transform(uppercase);
        }
    }
    &:after {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
        content: '';
        @include position(absolute, 0, 0, 0, 0);
        @include box(100%, 100%);
    }
    .title-bar {
        background-color: $primary-color;
        @include flex-align( center, middle);
    }
    .title-bar-title {
        margin-left: rem-calc(20);
    }
}

.contenedor {
    @include xy-grid-container();
}

.navegaciones {
    @include xy-cell();
    @include breakpoint(medium) {
        @include xy-cell(auto);
    }
    .navegacion-principal {
        @include breakpoint(small only) {
            background-color: lighten($primary-color, 10%);
        }
        @include menu-base();
        @include flex-align(right, middle);
        li {
            @include breakpoint(small only) {
                width: 100%;
                text-align: center;
            }
            a {
                @include text-transform (uppercase);
                @include font-bold(500);
                font-size: rem-calc(18);
            }
        }
    }
}

.menu-social {
    @include menu-base();
    @include flex-align(center, middle);
    @include breakpoint(medium) {
        @include flex-align(right, middle);
    }
    a {
        &:before {
            display: inline-block;
            font-family: 'Fontawesome';
            font-size: rem-calc(30);
            color: $white;
            -webkit-font-smoothing: antialiased;
            content: '\f08e';
        }
        &[href*="facebook.com"]::before {
            content: '\f082'
        }
        &[href*="twitter.com"]::before {
            content: '\f099';
        }
        &[href*="instagram.com"]::before {
            content: '\f16d';
        }
        &[href*="youtube.es"]::before {
            content: '\f16a';
        }
    }
}

//Headings
.encabezado {
    color: $secondary-color;
    @include text-transform(uppercase);
    @include font-bold(900);
    font-size: rem-calc(18);
    margin-bottom: rem-calc(100);
    margin-top: rem-calc(40);
    text-align: center;
    span {
        color: $primary-color;
        font-size: rem-calc(38);
        display: table;
        margin: 0 auto;
    }
    &:after {
        content: '';
        display: block;
        margin:rem-calc(-15) auto 0 auto;
        
        @include box(rem-calc(80), rem-calc(80));
        background-image: url(../img/coffee.svg);
        background-size: rem-calc(80);
        background-repeat: no-repeat;
        
    }
}

.icono-menu {
    @include hamburger($white, $white, 50px, 32px, 6px, 3);
}

.site-footer {
    background-color: $primary-color;
    .contenedor {
        .contenido-footer {
            background-color: $white;
            @include xy-grid();
            @include padding(2, 2, 4, 2);
            .footer-box {
                @include xy-cell();
                @include breakpoint(medium) {
                    @include xy-cell(4);
                }
                @include margin(null, null, 2, null);
                text-align: center;
                h3 {
                    font-family: $bellefair;
                    color: $secondary-color;
                    @include text-transform(uppercase);
                }
                p {
                    font-size: rem-calc(18);
                    margin: 0;
                }
            }
        }
    }
    .copyright {
        margin: 0;
        @include padding(1, null, 1, null);
        text-align: center;
        @include font-bold(700);
        color: $white;
        font-size: rem-calc(18);
    }
}

.contenido-principal {
    background-color: $white;
    padding: rem-calc(10);
    @include breakpoint(medium) {
        margin-top: rem-calc(-120px);
        @include position(relative);
        padding: rem-calc(50);
    }
}